<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write new chat</title>
</head>
<body>
    <h3>New Chat Create</h3>
    <form method="POST" action="/chats">
        <input type="text" name="from"><br>
        <input type="text" name="to"><br>
        <textarea name="msg" id="">Write your message</textarea><br>

        <button type="submit">Create Chat</button>
    </form>
    
</body>
</html>