<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add data</title>
</head>
<body>
    <form  method="get" action="/user/add">
        <input type="" placeholder="enter id " name="id">
        <input type="email" name="email" id="" placeholder="enter email ">
        <input type="text" name="username" placeholder="enter username ">
        <input type="password" placeholder="enter password " name="password">
        <button>Add</button>
    </form>
    
</body>
</html>