<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <h2>Confirm the deleting for data :id is :<%=user.id %></h2>
    
    <form method="POST"   action="/user/<%=user.id%>?_method=DELETE">
        <p><%= user.username %></p>
        <input type="password" name="password" placeholder="password">

        <button>Confirm delete</button>
        
    </form>
    


</body>
</html>