<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

    <h1>This is home page</h1>

    <h1><%= 1+2 %></h1>    <!-- interpolirion use for print login adn make html dynamic -->
    <h1><%= "roopesh".toUpperCase() %></h1> 
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus aperiam soluta nemo, cupiditate ratione, impedit, saepe eos repellendus nostrum vel doloribus. Sit voluptas voluptatibus molestiae sequi eos exercitationem rerum inventore?</p>

<button>Click</button>
    
</body>
</html>